/* CSS ICON ALERT GENERAL */

.screenAlert-icon + .screenAlert-icon {
  margin-top: 50px;
}

/* CSS SUCCESS */
.screenAlert-icon.screenAlert-success {
  border-color: #0bd8a2;
}
.screenAlert-icon.screenAlert-success:after,
.screenAlert-icon.screenAlert-success:before {
  border-radius: 120px 0 0 120px;
  left: -33px;
  top: -7px;
  -webkit-transform-origin: 60px 60px;
  transform-origin: 60px 60px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.screenAlert-icon.screenAlert-success:after {
  border-radius: 0 120px 120px 0;
  left: 30px;
  top: -11px;
  -webkit-transform-origin: 0 60px;
  transform-origin: 0 60px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.screenAlert-icon.screenAlert-success .screenAlert-placeholder {
  border-radius: 50%;
  border: 4px solid #0bd8a2;
  box-sizing: content-box;
  height: 80px;
  left: -4px;
  position: absolute;
  top: -4px;
  width: 80px;
  z-index: 2;
}
.screenAlert-icon.screenAlert-success .screenAlert-line {
  background-color: #0bd8a2;
  border-radius: 2px;
  display: block;
  height: 5px;
  position: absolute;
  z-index: 2;
}
.screenAlert-icon.screenAlert-success .screenAlert-line.screenAlert-tip {
  left: 14px;
  top: 46px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 25px;
}
.screenAlert-icon.screenAlert-success .screenAlert-line.screenAlert-long {
  right: 8px;
  top: 38px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 47px;
}
.animateSuccessTip {
  -webkit-animation: animateSuccessTip 0.75s;
  animation: animateSuccessTip 0.75s;
}
.animateSuccessLong {
  -webkit-animation: animateSuccessLong 0.75s;
  animation: animateSuccessLong 0.75s;
}
/* ANIMATE SUCCESS */
@-webkit-keyframes animateSuccessTip {
  0%,
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}
@keyframes animateSuccessTip {
  0%,
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}
@-webkit-keyframes animateSuccessLong {
  0%,
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}
@keyframes animateSuccessLong {
  0%,
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}

/* Error Message */

/* CSS ICON ALERT GENERAL */
.screenAlert-icon {
  border-radius: 50%;
  border: 4px solid #0bd8a2;
  box-sizing: content-box;
  height: 80px;
  margin: 30px auto;
  padding: 0;
  position: relative;
  width: 80px;
}

/* CSS ALERT */
.screenAlert-icon.screenAlert-fail {
  border-color: #f27474;
}
.screenAlert-icon.screenAlert-fail:after,
.screenAlert-icon.screenAlert-fail:before {
  border-radius: 120px 0 0 120px;
  left: -33px;
  top: -7px;
  -webkit-transform-origin: 60px 60px;
  transform-origin: 60px 60px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.screenAlert-icon.screenAlert-fail:after {
  border-radius: 0 120px 120px 0;
  left: 30px;
  top: -11px;
  -webkit-transform-origin: 0 60px;
  transform-origin: 0 60px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.screenAlert-icon.screenAlert-fail .screenAlert-placeholder {
  border-radius: 50%;
  border: 4px solid rgba(200, 0, 0, 0.2);
  box-sizing: content-box;
  height: 80px;
  left: -4px;
  position: absolute;
  top: -4px;
  width: 80px;
  z-index: 2;
}
.screenAlert-icon.screenAlert-fail .screenAlert-line.screenAlert-tip {
  left: 14px;
  top: 46px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 25px;
}
.screenAlert-icon.screenAlert-fail .screenAlert-line.screenAlert-long {
  right: 8px;
  top: 38px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 47px;
}
.screenAlert-icon.screenAlert-fail .screenAlert-x-mark {
  display: block;
  position: relative;
  z-index: 2;
}
.screenAlert-icon.screenAlert-fail .screenAlert-line {
  background-color: #f27474;
  top: 37px;
  width: 47px;
  border-radius: 2px;
  display: block;
  height: 5px;
  position: absolute;
  z-index: 2;
}
.screenAlert-icon.screenAlert-fail .screenAlert-line.screenAlert-left {
  left: 17px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.screenAlert-icon.screenAlert-fail .screenAlert-line.screenAlert-right {
  right: 16px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.animateXLeft {
  -webkit-animation: animateXLeft 0.75s;
  animation: animateXLeft 0.75s;
}
.animateXRight {
  -webkit-animation: animateXRight 0.75s;
  animation: animateXRight 0.75s;
}
/* ANIMATE CROSS X */
@-webkit-keyframes animateXLeft {
  0%,
  65% {
    left: 82px;
    top: 95px;
    width: 0;
  }
  84% {
    left: 14px;
    top: 33px;
    width: 47px;
  }
  100% {
    left: 17px;
    top: 37px;
    width: 47px;
  }
}
@keyframes animateXLeft {
  0%,
  65% {
    left: 82px;
    top: 95px;
    width: 0;
  }
  84% {
    left: 14px;
    top: 33px;
    width: 47px;
  }
  100% {
    left: 17px;
    top: 37px;
    width: 47px;
  }
}
@-webkit-keyframes animateXRight {
  0%,
  65% {
    right: 82px;
    top: 95px;
    width: 0;
  }
  84% {
    right: 14px;
    top: 33px;
    width: 47px;
  }
  100% {
    right: 16px;
    top: 37px;
    width: 47px;
  }
}
@keyframes animateXRight {
  0%,
  65% {
    right: 82px;
    top: 95px;
    width: 0;
  }
  84% {
    right: 14px;
    top: 33px;
    width: 47px;
  }
  100% {
    right: 16px;
    top: 37px;
    width: 47px;
  }
}
