@font-face {
  font-family: "icomoon";
  src: url("../assets/fonts/icomoon.eot?19eko0");
  src: url("../assets/fonts/icomoon.eot?19eko0#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/icomoon.ttf?19eko0") format("truetype"),
    url("../assets/fonts/icomoon.woff?19eko0") format("woff"),
    url("../assets/fonts/icomoon.svg?19eko0#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

*::-webkit-scrollbar {
  width: 0.8em;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  outline: 1px solid slategrey;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1c3643 !important;
}

.showSection {
  visibility: visible;
}

.hideSection {
  visibility: hidden;
}

.img-responsive {
  width: 100%;
}

/** Footer styles */
.shape-bottom:not([class*="shape-blur"]) {
  overflow: hidden;
}

.shape-bottom:not([class*="shape-blur"]) > * {
  -webkit-transform: scale(2);
  transform: scale(2);
}

.shape-bottom {
  position: absolute;
  right: 0;
  bottom: -1px;
  left: 0;
}

.shape-bottom > * {
  -webkit-transform-origin: top center;
  transform-origin: top center;
}

/* * Font icons */

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github-icon:before {
  content: "\e900";
}
.icon-linkeding-icon:before {
  content: "\e901";
}
.icon-freecodecamp-icon:before {
  content: "\e902";
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

.animatedBrand {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(2.25, 1.75, 2);
    transform: scale3d(2.25, 1.75, 2);
  }

  40% {
    -webkit-transform: scale3d(1.75, 2.25, 2);
    transform: scale3d(1.75, 2.25, 2);
  }

  50% {
    -webkit-transform: scale3d(2.15, 1.85, 2);
    transform: scale3d(2.15, 1.85, 2);
  }

  65% {
    -webkit-transform: scale3d(1.95, 2.05, 2);
    transform: scale3d(1.95, 2.05, 2);
  }

  75% {
    -webkit-transform: scale3d(2.05, 1.95, 2);
    transform: scale3d(2.05, 1.95, 2);
  }

  100% {
    -webkit-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
  }
}

@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(2, 2, 2);
    -ms-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
  }

  30% {
    -webkit-transform: scale3d(2.25, 1.75, 2);
    -ms-transform: scale3d(2.25, 1.75, 2);
    transform: scale3d(2.25, 1.75, 2);
  }

  40% {
    -webkit-transform: scale3d(1.75, 2.25, 2);
    -ms-transform: scale3d(1.75, 2.25, 2);
    transform: scale3d(1.75, 2.25, 2);
  }

  50% {
    -webkit-transform: scale3d(2.15, 1.85, 2);
    -ms-transform: scale3d(2.15, 1.85, 2);
    transform: scale3d(2.15, 1.85, 2);
  }

  65% {
    -webkit-transform: scale3d(1.95, 2.05, 2);
    -ms-transform: scale3d(1.95, 2.05, 2);
    transform: scale3d(1.95, 2.05, 2);
  }

  75% {
    -webkit-transform: scale3d(2.05, 1.95, 2);
    -ms-transform: scale3d(2.05, 1.95, 2);
    transform: scale3d(2.05, 1.95, 2);
  }

  100% {
    -webkit-transform: scale3d(2, 2, 2);
    -ms-transform: scale3d(2, 2, 2);
    transform: scale3d(2, 2, 2);
  }
}

.animatedGrid {
  gap: 50px !important;
}
